.header-container {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    background-color: white;

    .header {
        font-weight: 700;
        font-size: 25px;
        line-height: 23px;
        color: var(--cui-body-color);
        margin-bottom: 0;
        margin-top: 0;
        white-space: nowrap;
    }
}
