<div class="modal-content">
    <div class="modal-header d-flex flex-column">
        <div class="d-flex w-100 align-items-center justify-content-between">
            <h4 class="modal-title">Patient appointment</h4>
            <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
           
        <div class="modal-body d-flex w-100 align-items-center justify-content-center mt-2 pb-1">
            The patient was consulted. If you confirm, it will be removed from the waiting list.
        </div>
    </div>
   
        <div class="modal-footer d-flex justify-content-end px-2">
            <button class="btn btn-primary" type="submit" (click)="submitRemovePatient()">Confirm</button>
            <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
      
</div>
